{% extends "layouts/center.html" %}

{% block content %}
<section>
  <h4 class="text-center">File Uploader</h4>
  <form method="post" 
    enctype="multipart/form-data" 
    id="fileForm" 
    action="/upload"
  >
    <div class="mb-3">
      <label 
        for="formFile" 
        class="form-label"
      >
        Default file input example
      </label>
      <input 
        class="form-control" 
        type="file" 
        id="formFile"
        multiple
      >
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>

  <div class="preview"></div>

  <h4>Drag & Drop</h4>
  <div id="dropbox" class="shadow-none p-3 mb-5 bg-light rounded border">
    Drop a file here
  </div>
  <div id="gallery">

  </div>
</section>
{% endblock %}

{% block script %}
<script src="/script/main.js"></script>
{% endblock %}
