:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.my-widget {
    font-family: Helvetica, Arial, sans-serif;
}

/* > 576 px */
@media screen and (min-width: 36em) {
    .my-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0.5em;
    }    
}

.my-grid__cell {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    position: relative;
}

.aspect-ratio {
    position: relative;
    width: 100%;
}

.aspect-ratio::before {
    display: block;
    padding-top: 75%;
    content: "";
}

.aspect-ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.my-thumb__img {
    object-fit: cover;
}

.my-thumb__link {
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}

.my-thumb__link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.my-thumb__brand {
    display: block;
    font-size: 0.8em;
}
